<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>How To</title>
    <style>
        h2 { text-decoration: underline }

        table { width: 100%; max-width: 100%; margin-bottom: 20px }

        th { text-align: left }
    </style>
</head>
<body>
<h2>How to use</h2>
<h4>Compare titles with list</h4>
<table>
    <thead>
    <tr>
        <th>Property</th>
        <th>Type</th>
        <th>Required</th>
        <th>Default</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><code>link</code></td>
        <td>String</td>
        <td>✔</td>
        <td>X</td>
        <td>The <a href="http://Trakt.tv">Trakt.tv</a> link to compare with current titles.</td>
    </tr>
    </tbody>
</table>
<p>Example:
    <a href="http://188.226.135.240/titles?link=trakt.tv/users/testuser/watchlist">
        http://188.226.13.240/titles?link=trakt.tv/users/testuser/watchlist
    </a>.
</p>
<h4>Get scheduling information of title</h4>
<table>
    <thead>
    <tr>
        <th>Property</th>
        <th>Type</th>
        <th>Required</th>
        <th>Default</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><code>link</code></td>
        <td>String</td>
        <td>✔</td>
        <td>X</td>
        <td>The title link from which to gather data.</td>
    </tr>
    </tbody>
</table>
<p>Example:
    <a href="http://188.226.135.240/schedule?link=">http://188.226.135.240/schedule?link=</a>
</p>

</body>
</html>